Flask==3.0.0
Flask-Login==0.6.3
Flask-Cors==4.0.0
Werkzeug==3.0.0

pymongo==4.8.0

numpy==1.26.4
opencv-python-headless==4.8.1.78
Pillow==10.4.0
requests==2.32.3

insightface==0.7.3
onnxruntime==1.18.1